.pagination {
  display: flex;
  // justify-content: center;
  margin-top: 20px;
}

.pagination a {
  color: #333;
  padding: 8px 16px;
  text-decoration: none;
  cursor: pointer;
}

.pagination a.active {
  background-color: #333;
  color: #fff;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.page-link:focus{
  box-shadow: none !important;
}
